<div class="card">
  <div>
    <h2 class="card-header">
      {{title}}
    </h2>
    <p>Posted by {{user.name}} on {{format_date date_created}}</p>
  </div>
  <div class="card-body">
    <p>
      {{content}}
    </p>
  </div>
</div>
{{#each comments as |comment| }}
<div class="card">
    <div>
        <div class="card-body">
            <p>
                {{comment.content}}
            </p>
            <p>
                - {{comment.user.name}}, {{format_date comment.date_created}}
            </p>
        </div>
    </div>
</div>
{{/each}}